:root{
  --blue:#0385F2;
  --blue1:#e6f2fd;
  --border-color:#C5CAD0;
  --gray:#f6f7f9;
  --gray1:#f7f8fa;
  --white: #fff;
  --menu-color:#546078;
  --border-radius:8px;
  --table-hover:#F4F6FB;
  --table-head_gray:#FAFAFA;
  --content-gray:#eef2f5;
  --red:#bf0001;
  --green:#03a471;
  --green1:#e5f6f0;
  --green2:#01A471;
  --gap10:.1rem;
  --gap14:.14rem;
  --gap15:.15rem;
  --gap17:.17rem;
  --gap20:.2rem;
  --gap25:.25rem;
  --gap30:.3rem;
}