:root{
  --blue:#0385F2;
  --border-color:#e6e6e6;
  --gray:#f6f7f9;
  --white: #fff;
  --pink:#FF546A;
  --red:#E0354A;
  --menu-color:#546078;
  --green:#009864;
  --border-radius:8px;
  --table-hover:#F4F6FB;
  --table-head_gray:#FAFAFA;
  --modal-content_bg: #fafafa;
  --content-gray:#eef2f5;
}