:root{
  --blue:#1C63FF;
  --border-color:#e6e6e6;
  --gray:#f6f7f9;
  --white: #fff;
  --pink:#FF546A;
  --red:#E0354A;
  --menu-color:#546078;
  --green:#009864;
  --border-radius:8px;
  --table-hover:#F4F6FB;
  --table-head_gray:#F1F2F5;
  --modal-content_bg: #fafafa;
}