@font-face {
  font-family: "iconfont"; /* Project id 4319455 */
  src: url('iconfont.woff2?t=1701164317846') format('woff2'),
       url('iconfont.woff?t=1701164317846') format('woff'),
       url('iconfont.ttf?t=1701164317846') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-icon-delete:before {
  content: "\e6a9";
}

.h-icon-qianming:before {
  content: "\e6aa";
}

.h-icon-save:before {
  content: "\e6ab";
}

.h-icon-chartLineLenge:before {
  content: "\e6ac";
}

.h-icon-eye:before {
  content: "\e6ad";
}

.h-icon-editor:before {
  content: "\e6ae";
}

.h-icon-email:before {
  content: "\e6a8";
}

.h-icon-status:before {
  content: "\e6a7";
}

.h-icon-sign:before {
  content: "\e696";
}

.h-icon-close1:before {
  content: "\e698";
}

.h-icon-add:before {
  content: "\e6a4";
}

.h-icon-right:before {
  content: "\e6a5";
}

.h-icon-error:before {
  content: "\e6a6";
}

.h-icon-close:before {
  content: "\e643";
}

.h-icon-sanjiaoup:before {
  content: "\e60f";
}

.h-icon-dingyueyouxiang1:before {
  content: "\e6a3";
}

.h-icon-zichantongji:before {
  content: "\e6a1";
}

.h-icon-yewuguanli:before {
  content: "\e6a2";
}

.h-icon-IPguanli:before {
  content: "\e69a";
}

.h-icon-gerenziliao:before {
  content: "\e69e";
}

.h-icon-dingyueyouxiang:before {
  content: "\e69d";
}

.h-icon-quanxianguanli:before {
  content: "\e69c";
}

.h-icon-rizhiguanli:before {
  content: "\e69b";
}

.h-icon-shiwuguanli:before {
  content: "\e69f";
}

.h-icon-wangzhanyunying:before {
  content: "\e6a0";
}

.h-icon-notice:before {
  content: "\e699";
}

